@model IEnumerable<ExpenseReport.Models.Yearly>



<br />
<div>
    <h4>Yearly Expenses</h4>
</div>

@foreach (var title in ViewBag.Titles)
{
<div class="container-fluid">
    <table class="table table-dark table-striped">
        <tbody>
            <tr>
                <td width="250px">@title</td>
                <td width="250px">Number of Transactions</td>
                <td width="250px">Total Spent</td>
                <td width="250px">Average Transaction</td>
            </tr>
            <tr>
                @foreach (var item in Model)
                {
                    if (item.TransactionType == title)
                    {
                        <td></td>
                        <td>@Html.Name(item.NumOfTransactions.ToString())</td>
                        <td>$@Html.Name(item.TotalSpent.ToString()).ToHtmlString()</td>
                        <td>$@Html.Name(item.AverageSpent.ToString()).ToHtmlString()</td>
                    }
                }
            </tr>
        </tbody>
    </table>
</div>


}




